---
import SelfPicture from "../components/SelfPicture.astro";
import AboutText from "../components/AboutText.astro";
import CloseButton from "../components/CloseButton.astro";
import "../styles/GlobalStyle.css";
---

<html>
    <body class="bg-[var(--accent40)]">
        <div class="flex justify-center gap-x-[40px] px-32 mt-28">
            <div class="flex-shrink-0">
                <SelfPicture />
            </div>
            <AboutText />
            <CloseButton class="mt-28" />
        </div>
    </body>
</html>
