---
import PictureColumnLeft from "../components/PictureColumnLeft.astro";
import PictureColumnRight from "../components/PictureColumnRight.astro";
import Information from "../components/Information.astro";
---

<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="h-screen w-screen m-0 bg-black">
        <button type="button" class="fixed z-30 bottom-20 left-1/2 -translate-x-1/2 center-0 w-20 h-20 bg-gray-300 rounded-full shadow-md cursor-pointer duration-500 ease"></button>
        <main class="bg-white h-screen w-screen relative z-20">
            <div class="flex gap-x-[30px] h-screen">
                <div id="project-wrapper" class="flex w-1/2 gap-x-[30px]">
                    <PictureColumnLeft></PictureColumnLeft>
                    <PictureColumnRight></PictureColumnRight>
                </div>
                <Information></Information>
            </div>
        </main>
    </body>
</html>

<style>
    #project-wrapper::-webkit-scrollbar {
        display: none;
    }

    #project-wrapper {
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>