<div class="min-w-[600px] w-[600px] left-0 p-10 mb-20 bg-[var(--whitetint)]">
    <h4 class="text-2xl">ABOUT</h4>
    <hr class="w-[90px] border-[var(--accent)] border-2 mt-2 mb-4" />
    <p>
        I'm Aaron Metzelaar, a passionate third-year Computer Science student at
        the University of Amsterdam, specializing in front-end development and
        creative design. With an anticipated graduation in 2024, I'm excited to
        share my journey and showcase my expertise in this ever-evolving field.
    </p>
    <br />
    <p>
        As someone deeply passionate about the intersection of technology and
        design, I have immersed myself in the world of coding, constantly
        seeking innovative solutions to complex problems. Alongside my academic
        pursuits, I've had the privilege of working on various projects, ranging
        from high school initiatives to collaborations with my student
        association and dispute. These experiences have allowed me to refine my
        aesthetic sensibilities and develop a keen eye for crafting visually
        captivating interfaces. Some highlighted projects can be found on the
        home page of this website.
    </p>
    <br />
    <p>
        Blending my technical insight with a creative flair, I strive to create
        seamless user experiences that seamlessly merge form and function. A
        strong believer in the power of design, I am driven to deliver intuitive
        and visually appealing solutions. Attention to detail is my guiding
        principle, as I believe that even the smallest elements can make a
        significant impact on user satisfaction.
    </p>
    <br />
    <p>
        Approaching each project with a solution-oriented mindset and logical
        thinking, I am committed to delivering excellence. Integrity and
        diligence are the foundations upon which I build my work, fostering
        strong relationships built on trust and mutual respect. I constantly
        seek opportunities to expand my knowledge and skills, trying to push the
        boundaries of my personal and professional growth.
    </p>
    <br />
    <p>
        Thank you for visiting my portfolio website. I invite you to explore my
        projects and experiences to gain deeper insights into my skills and
        achievements. If you have any inquiries or potential collaboration
        opportunities, please feel free to reach out using the form below.
    </p>
    <br />
    <h3>I look forward to connecting with you!</h3>
</div>
