---
import ProjectPicture from "../components/ProjectPicture.astro";
---

<div class="grid gap-y-[40px] max-h-screen">
    <ProjectPicture
        image="../src/images/github.png"
        title="GITHUB - Portfolio Website Code"
        href="https://github.com/AaronMetzelaar/portfolio_website"
    />
    <ProjectPicture
        image="../src/images/engage.png"
        title="ENGAGE - Interactive Zoom Lectures"
        href="#"
    />
    <ProjectPicture
        image="../src/images/powerdown.png"
        title="POWERDOWN - VR Energy Saving Game"
        href="#"
    />
</div>
