---
import ProjectPicture from '../components/ProjectPicture.astro'
---

<div class="grid max-w-[50%] gap-y-[30px] max-h-screen">
    <ProjectPicture image="https://www.rspca.org.uk/documents/1494939/7712581/1181276-tortoise-shell-cat-on-garden-chair-banner_990x350.jpg/68a1a677-e8de-383f-3941-077b015d3954?t=1654001110997" title="Test" href="#"/>
    <ProjectPicture image="https://images.ctfassets.net/9l3tjzgyn9gr/photo-160091/48f8c70ec4e78205fc0f8fea62b81731/160091-blackcat15.jpg?fm=jpg&fl=progressive&q=50&w=1200&h=900&fit=fill" title="Test" href="#"/>
    <ProjectPicture image="https://media.npr.org/assets/img/2021/08/11/gettyimages-1279899488_wide-f3860ceb0ef19643c335cb34df3fa1de166e2761-s1100-c50.jpg" title="Test" href="#"/>
    <ProjectPicture image="https://images.ctfassets.net/9l3tjzgyn9gr/photo-160091/48f8c70ec4e78205fc0f8fea62b81731/160091-blackcat15.jpg?fm=jpg&fl=progressive&q=50&w=1200&h=900&fit=fill" title="Test" href="#"/>
</div>