---
import ProjectPicture from '../components/ProjectPicture.astro'
---

<div class="grid max-w-[50%] gap-y-[30px] max-h-screen">
    <ProjectPicture image="https://media.npr.org/assets/img/2021/08/11/gettyimages-1279899488_wide-f3860ceb0ef19643c335cb34df3fa1de166e2761-s1100-c50.jpg" title="Test" href="#"/>
    <ProjectPicture image="https://media.npr.org/assets/img/2021/08/11/gettyimages-1279899488_wide-f3860ceb0ef19643c335cb34df3fa1de166e2761-s1100-c50.jpg" title="Test" href="#"/>
    <ProjectPicture image="https://i.pinimg.com/originals/3e/8b/71/3e8b71d690fbfb393d921f3149aad92d.jpg" title="Test" href="#"/>
</div>