---
import ProjectPicture from '../components/ProjectPicture.astro'
---

<div class="grid gap-y-[40px] max-h-screen">
    <ProjectPicture image="../src/images/knaldrang.png" title="KNALDRANG - Student Association" href="#"/>
    <ProjectPicture image="../src/images/ball.png" title="SOCCER - Predicting World Cup" href="#"/>
    <ProjectPicture image="../src/images/smartmirror.png" title="DIY - Smart Mirror" href="#"/>
</div>