---
const {image, title, desc, href} = Astro.props 
---
<a class="relative" href={href}>
    <h3 class="absolute bottom-3 left-3 text-l text-[var(--whitetint)]">{title}</h3>
    <img class="object-cover" src={image} alt={title} />
</a>